{% from "components/sidebar-icon.njk" import sidebar_icon %}

<div class="fixed top-0 left-0 h-screen w-16 m-0
            flex flex-col
            bg-gray-800 text-white shadow-lg">
    {{ sidebar_icon("fa-solid fa-house") }}
    {{ sidebar_icon("fa-solid fa-user") }}
    {{ sidebar_icon("fa-solid fa-cog") }}
    {{ sidebar_icon("fa-solid fa-bell") }}
    {{ sidebar_icon("fa-solid fa-envelope") }}
</div>